.container {
  background-color: #D4ECDD;
  position: relative;
  padding-top: 100px;
}
.abc {
  background-color: #FDFCE5;
}
hr {
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
}
p {
  font-size: 20px;
  margin-bottom: 0px;
}

h1 {
  font-family: 'Ephesis', cursive;
  margin-top: 0px;
  font-size: 70px;
}

body {
  text-align: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.obl-top {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 450px;
  top: 0px;
}
.obl-bot {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 450px;
  display: block;

}
.profile{
  background-color: #79B4B7;
  margin-bottom: 0px;
}
.skills {
  position: relative;
  background-color: #889EAF;
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.volc {
  width: 400px;
  height: 400px;
  down:0px;
}

span {
  text-decoration: underline;
}
.bro {
  width: 200px;
  height: 200px;
}
.fire {
  width: 100px;
  height: 150px;
  right: 0px;
  position: absolute;
}


h3 {
  margin: 0px;
}
.get {
  margin-top: 0px;
}
.contact-me {
  background-color: #63B4B8;
  margin-top: 0px;
}
.bottom-container {
  background-color: #6D8299;
}
ul {
  align-content: center;
}
.earth {
  width: 200px;
  height: 200px;
}
.contact {
  display: block;
}
